body{
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
}
/************************************************
            MENU DE NAVIGATION
***********************************************/
.container{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 2;
}

.img-brand{
    width: 7em;
}

.btn-hamburger-desktop, .btn-close-desktop{
    display: none;
}

nav{
    font-size: 1em;
}
nav ul{
    list-style: none;
}
nav ul li{
    float: left;
    margin: 0em 1em 0em 1em;
}
nav ul li a{
    text-decoration: none;
    color:rgb(2, 16, 77);
    border-bottom: 2px solid transparent;
}
nav ul li a:hover{
    color:rgb(42, 80, 248);
    border-bottom-color:rgb(42, 80, 248);
}


/*******************************************
            PAGE D'ACCEUIL 
********************************************/
.section-container{
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 35em;
}

.section1{
    background-color: rgba(202, 199, 199, 0.500);
    height: 35em;
 
}

.section1 .text1{
    font-size: 35px;
    font-weight: bold;
    color: rgb(2, 16, 77);
    position: relative;
    top: 75px;
    margin-left: 3.9em;
    letter-spacing: 0.2em;
    z-index: 1;
}

.section1 .text2{
    font-size: 100px;
    font-weight: bold;
    color: rgba(2, 16, 77, 0.25);
    margin-left: 1.3em;
    
}

.section1 .lead-section1{
    color: rgb(2, 16, 77);
    font-weight: 500;
    margin: 0em auto 0em 7em;
    font-size: 1.3em;
}

/***********************NOS BOX */
.div-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: -12em;
}

.box1{
    background-color: rgb(42, 79, 243);
    color: #fff;
    width: 18em;
    border-radius: 5px;
    margin: 2em 0em auto 7.5em;
    padding: 2em;
}
.box1 h2{
    font-size: 2em;
}
.box1 p{
    text-align: justify;
    line-height: 1.5em;
}
.box1 a{
    text-decoration: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    text-align: center;
    padding: 0.6em;
}

.box1 a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(42, 80, 248);
}

.btn{
    display: flex;
    justify-content: space-between;
}
.btn p{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.397);
    text-decoration: none;
    border-radius: 25px;
    padding: 0.6em;
}
.btn p:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(92, 240, 136);
}
.box2, .box3, .box4, .box5, .box6, .box7, .box8{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px rgba(0, 2, 0, 0.25);
    color: rgb(124, 124, 124);
    width: 10em;
    border-radius: 5px;
    padding: 2em;
    margin-top: 3.5em;
    margin-bottom: 4.5em;
}
.box5{
    margin-top: 2em;
    margin-left: 6.8em;
}
.box6, .box7, .box8{
    margin-top: 2em;
}

.box2 h3, .box3 h3, .box4 h3, .box5 h3, .box6 h3, .box7 h3, .box8 h3{
    font-size: 1.5em;
    margin-top: -0.3em;
    text-align: center;
    font-weight: 700;
}

.box2 p, .box3 p, .box4 p, .box5 p, .box6 p, .box7 p, .box8 p{
    text-align: center;
    line-height: 1.8em;
    font-size: 0.8em;
}
.box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover, .box7:hover, .box8:hover{
    box-shadow: 0px 10px 50px rgba(0, 2, 0, 0.993);
    background-color: rgb(92, 240, 136);
    color: #fff;
    cursor: pointer;
}


/* GENERATEUR D'ARTICLES SUR LES PROBLEMES */ 
.div-container-problem{
    /* visibility: hidden; */
    display: none;
}
.div-problem{
    width: 90%;
    margin: 0 auto;
}

.div-container-problem img{
    width: 35em;
    height: auto;
    float: left;
    margin-right: 1em;
}

.div-container-problem .content p{
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: justify;
}

hr{
    width: 90%;
}

/************************************************
            GALLERY
*******************************************/
.container-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
}

.ligne1 img, .ligne2{
    width: 25em;
    height: auto;
    margin: 0.8em 0em 0em 2em;
}
/************************************************
            FOOTER
*******************************************/
.footer{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(42, 80, 248);
}

.footer .content{
    max-width: 800px;
    text-align: center;
}

.footer .content h3{
    font-size: 2.5em;
    font-weight: 500;
    color: #fff;
}
.footer .content p{
    font-weight: 300;
    color: #fff;
}

.footer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.footer-container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.footer-container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.footer-container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
}

.footer-container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.footer-container .contactInfo .box .text h4{
    font-weight: 500;
    color: #00bcd4;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background-color: #fff;
}

.contactForm h3{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input, .contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transform: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type = "submit"]{
    width: 100px;
    background-color: #00bcd4;
    color:#fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.foot{
    color: rgba(255, 254, 254, 0.225);
    font-size: 1.5em;
    text-align: center;
    padding: 7em 0em 0em 0em;
}
.foot p{
    font-size: 0.7em;
}

@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .footer-container{
        flex-direction: column;
    }
    .footer-container .contactInfo{
        margin-bottom: 40px;
    }
    .footer-container .contactInfo, .contactForm{
        width: 100%;
    }
}









/************************************************
            DIFFERENTS ECRAN D'AFFICHAGE
***********************************************/
@media screen and (min-width: 200px) and (max-width: 300px){
    .img-brand{
        width: 3em;
    }

    /*******************************************
                MENU HAMBURGER  
    ********************************************/
    .btn-hamburger-desktop, .btn-close-desktop{
        display: inherit;
        cursor: pointer;
    }
    .btn-hamburger-desktop{
        width: 2.2em;
        height: 1.5em;
    }
    .btn-hamburger-mobile img{
        width: 15px;
    }

    .nav-list-desktop{
        display: none;
    }  
    nav ul{
        position: fixed;
        width: 30%;
        top: -20px;
        background: #232323;
        height: 100%;
        text-align: left;
        right: 0;
        padding: 2em;
        z-index: 7;
    }

    nav ul li{
        float: none;
        margin: 0em 0em 0em -2em;
    }

    nav ul li a{
       display: block;
       width: 100%;
       padding: 1em 2em;
       background-color:rgb(61, 59, 59);
       border-left: 5px solid transparent;
       border-bottom: none;
       color: #fff;
    }

    nav ul li a:hover{
        background-color: rgb(50, 125, 238);
        border-bottom-color: none;
        border-left-color: rgb(0, 245, 73);
        color: #fff;
        border-bottom-color:none;
    }

    .btn-close-mobile{
        margin-bottom: 1em;
        margin-top: -1.3em;
        text-align: right;
        padding: 0 5em;
        cursor: pointer;
    }

    /*******************************************
            PAGE D'ACCEUIL 
    ********************************************/  
    .section1 .text1{
        font-size: 10px;
        top: 20px;
        margin-left: 0em;
        letter-spacing: inherit;
    }

    .section1 .text2{
        font-size: 27px;
        margin-left: 0em;    
    }

    .section1 .lead-section1{
        font-weight: 0;
        margin: 0em;
        font-size: 0.8em;
    }

    /*********************NOS BOX*/
    .box1{
        width: 15em;
        margin: 2em 0em auto 0em;
        padding: 1em;
    }
    .box1 h2{
        font-size: 1em;
    }
    .box1 p{
        font-size: 0.8em;
        line-height: 1.3em;
    }
    .box1 a{
        font-size: 0.8em;
        padding: 0.6em;
    }

    .box2, .box3, .box4, .box5, .box6, .box7, .box8{
        width: 10em;
        padding: 0.5em;
        margin-top: 2em;
        margin-bottom: 4em;
        font-size: 0.8em;
    }
    .box5{
        margin-left: inherit;
    }
    
    /* GENERATEUR D'ARTICLES SUR LES PROBLEMES */ 
    .div-problem{
        width: 100%;
        margin: inherit;
    }

    .div-container-problem img{
        width: 12em;
        height: auto;
        float: inherit;
        margin-right: 0em;
    }

    .div-container-problem .content p{
        font-size: 0.8em;
    }

    hr{
        width: 100%;
    }
    /************************************************
            GALLERY
    *******************************************/
    .container-gallery{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5em;
    }

    .ligne1 img{
        width: 100%;
        height: auto;
        margin: 0.8em 0em 0em 0em;
    }

    /************************************************
            FOOTER
    *******************************************/
    .footer{
        position: relative;
        min-height: 100vh;
        padding: 20px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(42, 80, 248);
    }

    .footer .content{
        width: 100%;
    }

    .footer .content h3{
        font-size: 1.2em;
        font-weight: 500;
    }
    .footer .content p{
        font-size: 0.8em;
    }

    .footer-container{
        width: 100%;
        margin: 30px;
    }

    .footer-container .contactInfo{
        width: 100%;
    }

    .footer-container .contactInfo .box{
        padding: 10px 0;
    }

    .footer-container .contactInfo .box .icon{
        min-width: 20px;
        height: 20px;
    }
    .footer-container .contactInfo .box img{
        width: 15px;
    }

    .footer-container .contactInfo .box .text{
        margin-left: 10px;
        font-size: 0.8em;
    }

    .footer-container .contactInfo .box .text h4{
        font-weight: 500;
        color: #00bcd4;
        font-size: 1em;
    }

    .contactForm{
        width: 100%;
        padding: 30px;
    }

    .contactForm h3{
        font-size: 1.2em;
    }

    .contactForm .inputBox input, .contactForm .inputBox textarea,
    .contactForm .inputBox span{
        font-size: 0.8em;
    }

    .contactForm .inputBox input:focus-span,
    .contactForm .inputBox input:valid-span,
    .contactForm .inputBox textarea:focus-span,
    .contactForm .inputBox textarea:valid-span{
        font-size: 0.8em;
    }

    .contactForm .inputBox input[type = "submit"]{
        width: 70px;
        font-size: 0.8em;
    }

    .foot{
        font-size: 0.9em;
        padding: 5em 0em 0em 0em;
    }
    .foot p{
        font-size: 0.7em;
    }

}

@media screen and (min-width : 301px) and (max-width : 399px) {
    .img-brand{
        width: 3em;
    }

    /*******************************************
                MENU HAMBURGER  
    ********************************************/
    .btn-hamburger-desktop, .btn-close-desktop{
        display: inherit;
        cursor: pointer;
    }
    .btn-hamburger-desktop{
        width: 2.2em;
        height: 1.5em;
    }
    .btn-hamburger-mobile img{
        width: 15px;
    }

    .nav-list-desktop{
        display: none;
    }  
    nav ul{
        position: fixed;
        width: 30%;
        top: -20px;
        background: #232323;
        height: 100%;
        text-align: left;
        right: 0;
        padding: 2em;
        z-index: 7;
    }

    nav ul li{
        float: none;
        margin: 0em 0em 0em -2em;
    }

    nav ul li a{
       display: block;
       width: 100%;
       padding: 1em 2em;
       background-color:rgb(61, 59, 59);
       border-left: 5px solid transparent;
       border-bottom: none;
       color: #fff;
    }

    nav ul li a:hover{
        background-color: rgb(50, 125, 238);
        border-bottom-color: none;
        border-left-color: rgb(0, 245, 73);
        color: #fff;
        border-bottom-color:none;
    }

    .btn-close-mobile{
        margin-bottom: 1em;
        margin-top: -1.3em;
        text-align: right;
        padding: 0 8em;
        cursor: pointer;
    }

    /*******************************************
            PAGE D'ACCEUIL 
    ********************************************/  
    .section1 .text1{
        font-size: 20px;
        top: 40px;
        margin-left: 0em;
        letter-spacing: inherit;
    }

    .section1 .text2{
        font-size: 50px;
        margin-left: 0em;    
    }

    .section1 .lead-section1{
        font-weight: 0;
        margin: 0em;
        font-size: 0.8em;
    }

    /*********************NOS BOX*/
    .box1{
        width: 15em;
        margin: 2em 0em auto 0em;
        padding: 3.5em;
    }
    .box1 h2{
        font-size: 1.5em;
    }
    .box1 p{
        font-size: 0.8em;
        line-height: 1.3em;
    }
    .box1 a{
        font-size: 0.8em;
        padding: 0.6em;
    }

    .box2, .box3, .box4, .box5, .box6, .box7, .box8{
        width: 10em;
        padding: 1.5em;
        margin-top: 2em;
        margin-bottom: 4em;
        font-size: 1em;
    }
    .box5{
        margin-left: inherit;
    }
    /* GENERATEUR D'ARTICLES SUR LES PROBLEMES */ 
    .div-problem{
        width: 100%;
        margin: inherit;
    }

    .div-container-problem img{
        width: 100%;
        height: auto;
        float: inherit;
        margin-right: 0em;
    }

    .div-container-problem .content p{
        font-size: 1em;
    }

    hr{
        width: 100%;
    }
    /************************************************
            GALLERY
    *******************************************/
    .container-gallery{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5em;
    }

    .ligne1 img{
        width: 100%;
        height: auto;
        margin: 0.8em 0em 0em 0em;
    }
}

@media screen and (min-width: 400px) and (max-width: 550px) {
    .img-brand{
        width: 3em;
    }

    /*******************************************
                MENU HAMBURGER  
    ********************************************/
    .btn-hamburger-desktop, .btn-close-desktop{
        display: inherit;
        cursor: pointer;
    }
    .btn-hamburger-desktop{
        width: 2.2em;
        height: 1.5em;
    }
    .btn-hamburger-mobile img{
        width: 15px;
    }

    .nav-list-desktop{
        display: none;
    }  
    nav ul{
        position: fixed;
        width: 30%;
        top: -20px;
        background: #232323;
        height: 100%;
        text-align: left;
        right: 0;
        padding: 2em;
        z-index: 7;
    }

    nav ul li{
        float: none;
        margin: 0em 0em 0em -2em;
    }

    nav ul li a{
       display: block;
       width: 100%;
       padding: 1em 2em;
       background-color:rgb(61, 59, 59);
       border-left: 5px solid transparent;
       border-bottom: none;
       color: #fff;
    }

    nav ul li a:hover{
        background-color: rgb(50, 125, 238);
        border-bottom-color: none;
        border-left-color: rgb(0, 245, 73);
        color: #fff;
        border-bottom-color:none;
    }

    .btn-close-mobile{
        margin-bottom: 1em;
        margin-top: -1.3em;
        text-align: right;
        padding: 0 8em;
        cursor: pointer;
    }   
    /*******************************************
            PAGE D'ACCEUIL 
    ********************************************/  
    .section1 .text1{
        font-size: 20px;
        top: 40px;
        margin-left: 1.3em;
        letter-spacing: 0.1em;
    }

    .section1 .text2{
        font-size: 50px;
        margin-left: 0.5em;    
    }

    .section1 .lead-section1{
        margin-left: 1.7em;
        font-size: 1em;
    }

    /*********************NOS BOX*/
    .box1{
        width: 25em;
        margin: 2em 0em auto 0em;
        padding: 1.5em;
    }
    .box1 h2{
        font-size: 1.5em;
    }
    .box1 p{
        font-size: 1em;
        line-height: 1.3em;
    }
    .box1 a{
        font-size: 1em;
        padding: 0.6em;
    }

    .box2, .box3, .box4, .box5, .box6, .box7, .box8{
        width: 10em;
        padding: 1.5em;
        font-size: 1em;
    }
    .box5{
        margin-left: inherit;
    }
    
    /* GENERATEUR D'ARTICLES SUR LES PROBLEMES */ 
    .div-container-problem img{
        width: 100%;
        height: auto;
        float: inherit;
        margin-right: 0em;
    }

    .div-container-problem .content p{
        font-size: 1em;
    }

    hr{
        width: 100%;
    }
    /************************************************
            GALLERY
    *******************************************/
    .ligne1 img{
        width: 100%;
        height: auto;
        margin: 0.8em 0em 0em 0em;
    }
    /************************************************
            FOOTER
    *******************************************/
    .footer .content{
        margin-top: -3em;
    }
    .footer .content h3{
        font-size: 2em;
    }
    .footer .content p{
        font-size: 1em;
    }

    .footer-container .contactInfo .box .icon{
        min-width: 35px;
        height: 35px;
    }
    .footer-container .contactInfo .box img{
        width: 20px;
    }

    .footer-container .contactInfo .box .text{
        margin-left: 10px;
        font-size: 1em;
    }

    .footer-container .contactInfo .box .text h4{
        font-weight: 500;
        color: #00bcd4;
        font-size: 1.3em;
    }
    .foot{
        font-size: 1em;
        padding: 5em 0em 0em 0em;
    }
    .foot p{
        font-size: 0.7em;
    }
}

@media screen and (min-width : 551px) and (max-width: 775px) {
    /*******************************************
                MENU HAMBURGER  
    ********************************************/
    .btn-hamburger-desktop, .btn-close-desktop{
        display: inherit;
        cursor: pointer;
    }

    .nav-list-desktop{
        display: none;
    }  
    nav ul{
        position: fixed;
        width: 30%;
        top: -20px;
        background: #232323;
        height: 100%;
        text-align: left;
        right: 0;
        padding: 2em;
        z-index: 7;
    }

    nav ul li{
        float: none;
        margin: 0em 0em 0em -2em;
    }

    nav ul li a{
       display: block;
       width: 100%;
       padding: 1em 2em;
       background-color:rgb(61, 59, 59);
       border-left: 5px solid transparent;
       border-bottom: none;
       color: #fff;
    }

    nav ul li a:hover{
        background-color: rgb(50, 125, 238);
        border-bottom-color: none;
        border-left-color: rgb(0, 245, 73);
        color: #fff;
        border-bottom-color:none;
    }

    .btn-close-mobile{
        margin-bottom: 1em;
        margin-top: -1.3em;
        text-align: right;
        padding: 0 10em;
        cursor: pointer;
    }   
    /*******************************************
            PAGE D'ACCEUIL 
    ********************************************/  
    .section1 .text1{
        font-size: 25px;
        top: 55px;
        margin-left: 1.3em;
        letter-spacing: 0.1em;
    }

    .section1 .text2{
        font-size: 72px;
        margin-left: 0.5em;    
    }

    .section1 .lead-section1{
        margin-left: 2em;
        font-size: 1em;
    }

    /*********************NOS BOX*/
    .box1{
        width: 18em;
        margin: 2em 0em auto 0em;
        padding: 5em;
    }
    .box1 h2{
        font-size: 1.5em;
    }
    .box1 p{
        font-size: 1em;
        line-height: 1.3em;
    }
    .box1 a{
        font-size: 1em;
        padding: 0.6em;
    }

    .box2, .box3, .box4, .box5, .box6, .box7, .box8{
        width: 12em;
        padding: 3em;
        font-size: 1em;
    }
    .box3{
        margin-top: -1em;
    }
    .box5{
        margin-left: inherit;
    }
    
    /* GENERATEUR D'ARTICLES SUR LES PROBLEMES */ 
    .div-container-problem img{
        width: 100%;
        height: auto;
        float: inherit;
        margin-right: 0em;
    }

    .div-container-problem .content p{
        font-size: 1em;
    }

    hr{
        width: 100%;
    }   
    /************************************************
            GALLERY
    *******************************************/
    .ligne1 img{
        width: 100%;
        height: auto;
        margin: 0.8em 0em 0em 0em;
    }
}

@media screen and (min-width : 776px) and (max-width : 995px) {
    /*******************************************
            PAGE D'ACCEUIL 
    ********************************************/  
    .section1 .text1{
        font-size: 25px;
        top: 55px;
        margin-left: 1.3em;
        letter-spacing: 0.1em;
    }

    .section1 .text2{
        font-size: 70px;
        margin-left: 0.5em;    
    }

    .section1 .lead-section1{
        margin-left: 2em;
        font-size: 1em;
    }

    /*********************NOS BOX*/
    .box1{
        width: 18em;
        margin: 2em 0em auto 0em;
        padding: 5em;
    }
    .box1 h2{
        font-size: 1.5em;
    }
    .box1 p{
        font-size: 1em;
        line-height: 1.3em;
    }
    .box1 a{
        font-size: 1em;
        padding: 0.6em;
    }

    .box2, .box3, .box4, .box5, .box6, .box7, .box8{
        width: 12em;
        padding: 3em;
        font-size: 1em;
    }
    .box5{
        margin-left: inherit;
    }
    
    /* GENERATEUR D'ARTICLES SUR LES PROBLEMES */ 
    .div-container-problem img{
        width: 100%;
        height: auto;
        float: inherit;
        margin-right: 0em;
    }

    .div-container-problem .content p{
        font-size: 1em;
    }

    hr{
        width: 100%;
    }   
    /************************************************
            GALLERY
    *******************************************/
    .ligne1 img{
        width: 100%;
        height: auto;
        margin: 0.8em 0em 0em 0em;
    }
}

@media screen and (max-width : 1024px) {
    /*********************NOS BOX*/

    .box4, .box5, .box6, .box7, .box8{
        margin-top: -1em;
    }
    .box5{
        margin-left: inherit;
    }
       
}